/* FULL-WIDTH BANNERS */
.banner {
    background-color: #a6ff00;
    padding: 0.5em;

    width: 100vw;
    margin-left: calc(50% - 50vw);

    position: relative;
    z-index: 1;   /* ensures banner sits below notebook line */
}

/* ANNOUNCEMENT BAR */
#announcements {
    background-color: #4FEDEC;
    display: flex;
    align-items: center;
}

#announcements .message {
    flex: 1;
    text-align: center;
}

.close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.close-button.align-right {
    margin-right: 2em;
}
