.banner {
    background-color: #a6ff00;
    width: 100%;
    padding: 0.5em;
}

#announcements {
    background-color: #4FEDEC;
    display: flex;            /* flex container */
    align-items: center;      /* vertical centering */
}

#announcements .message {
    flex: 1;                  /* take remaining space */
    text-align: center;       /* center the text */
}

.close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.close-button.align-right {
    margin-right: 2em;
}