body {
    background: repeating-linear-gradient(
        to bottom,
        #ffffff 0px,
        #ffffff 22px,
        #cfe0ff 22px,
        #cfe0ff 23px
    );
    font-family: "Patrick Hand", cursive;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 60px;
    width: 3px;
    height: 100%;
    background-color: #ff4d4d;
    z-index: 0;
}


.home-container {
    position: relative;
    z-index: 1;
    max-width: 700px;
    margin: 5rem auto;
    text-align: center;
    padding: 2rem;
}

.search-box input {
    width: 60%;
    padding: 0.4rem 1rem;
    border: 2px solid #888;
    border-radius: 8px;
    font-size: 1.2rem;
    font-family: "Patrick Hand", cursive;
    background-color: #fff;
}

#search-filter {
    display: flex;
    text-align: center;
    padding: 0.4rem;
}

#search-filter button {
    display: inline-block;
    padding: 0.4rem;
    background: #e5e7eb;
    color: #333;
    border: 2px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.1s ease;
}

#results {
    list-style: none;
}

#results li {
    min-width: 50vw;
    font-size: 1.4rem;
    margin: 1vw;
}

/* 
#categories {
    padding: 1vw
} */