{% extends 'base.html' %} 

{% block title_block %}
    add review
{% endblock %}

{% block base_body_block %} 
    <h1>add review</h1>
    
    <form id="review_form" method="post" action="{% url 'topic:add_review' tool.slug %}">
        {% csrf_token %}
        
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        
        {% for field in form.visible_fields %}
            <div style="margin-bottom: 15px;">
                {{ field.help_text }}<br>
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        
        <input type="submit" name="submit" value="add review" />
    </form>
{% endblock %}