<!DOCTYPE html>

{% load static %}
<!-- html page that ALL pages inherit from. -->

<html>

<head>
    <title>
        {% block title_block %}
        Topic - your home for all learning tools!
        {% endblock %}
    </title>
    <!-- this stylesheet will be loaded everywhere by default -->
    <link rel="stylesheet" type="text/css" href="{% static 'styles/default.css' %}">
    <!-- other pages can add their own stylesheets -->
    {% block stylesheets %}
    {% endblock %}
</head>

<body>
    <main>
        <div>
            {% block base_body_block %}
            {% endblock %}
        </div>
    </main>

    <footer>
        Hello, this is a footer <br >
        About
    </footer>
</body>

</html>