<!DOCTYPE html>
{% load static %}

<html>
<head>
    <title>
        {% block title_block %}
        Topic - your home for all learning tools!
        {% endblock %}
    </title>

    <link rel="stylesheet" type="text/css" href="{% static 'styles/default.css' %}">
    {% block stylesheets %}{% endblock %}
</head>

<body>

    <!-- BOTH banners will be injected here -->
    {% block banner_block %}{% endblock %}

    <main>
        <div>
            {% block base_body_block %}{% endblock %}
        </div>
    </main>

    <footer>
        Hello, this is a footer <br>
        About
    </footer>

    {% block scripts %}{% endblock %}
</body>
</html>
