{% extends 'main-base.html' %}
{% load static %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
{% endblock %}

{% block body_block %}

<div class="home-container">
    <img src="{% static 'images/topiclogo.png' %}" alt="homepage">
    <p>Hello academic weapon!</p>
    <p>Welcome to TOPIC — your go-to place for help.</p>

    <div class="web-description" style="text-align: center;">
        <p>TOPIC is a website designed by students, for students</p>
        <p>On here you're able to find help with specific problems, upload and rate study tools and find the help you need.</p>
    </div>

    <div class="search-box">
        <input type="text" placeholder="Search for topics…">
    </div>

    <!-- populated with a script, don't panic! -->
    <div id="search-filter" class="center", onkeyup="search">
        <p style="padding: 0.4rem">Filter by tag: </p>
    </div>
    <script src="{% static 'js/search_filter.js' %}" type="module"></script>

    <ul id="results"> 

    </ul>
</div>

{% endblock %}
