{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'styles/base.css' %}">
{% endblock %}

{% block banner_block %}
{% if announcement %}
<div id="announcements" class="banner">
    <div class="message">{{ announcement }}</div>
    <button class="close-button align-right">✕</button>
</div>
<script src="{% static 'js/close_announcement.js' %}"></script>
{% endif %}

<div id="topbar" class="center banner">
    <a href="{% url 'home' %}">Home</a> |
    {% if user.is_authenticated %}
        <a href="{% url 'topic:logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'topic:login' %}">Login</a> |
        <a href="{% url 'topic:register' %}">Register</a>
    {% endif %}
</div>

{% if body_class == "login-page" or body_class == "register-page" %}
<div class="logo-under-banner">
    <img src="{% static 'images/topiclogo.png' %}" alt="Topic Logo">
</div>
{% endif %}

{% endblock %}

{% block base_body_block %}
{% block body_block %}{% endblock %}
{% endblock %}

{% block scripts %}
{{ block.super }}
{% endblock %}
