{% extends 'main-base.html' %}
{% load static %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/tool.css' %}">
    
{% endblock %}

{% block title_block %}
{{ tool.name }}
{% endblock %}

{% block body_block %}
{% if tool %}
    <h1>{{ tool.name }}</h1>
    <h2><a href={{ tool.link }} target="_blank">Visit Site</a></h2>
    <div>
        <h3>Tags:</h3>
        <ul>
            {% for tag in tool.tags.all %}
            <li>{{ tag }}</li>
            {%endfor%}
        </ul>
    </div>

    <!-- list of reviews -->    
    <div>
        <h3>Reviews:</h3>
        {% for review in reviews %}
        <ul>
            <li>user: {{review.user}}</li>
            <li>tool: {{review.tool}}</li>
            <li>rating: {{review.rating}}</li>
            <li>review content: {{review.review_content}}</li>
        </ul>
        {% endfor %}
    </div>

    <p>Average Rating: {{ tool.average_score }}</p>

    <a href="{%url 'topic:add_review' tool.slug %}">Review</a>
{% else %}
    The specified tool does not exist.
{% endif %}
{% endblock %}
