{% extends 'main-base.html' %}
{% load static %}

{% block stylesheets %}
    {{ block.super }}
    <!--
        <link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    -->
{% endblock %}

{% block title_block %}
{{ tool.name }}
{% endblock %}

{% block body_block %}
{% if tool %}
    <h1>{{ tool.name }}</h1>
{% else %}
    The specified category does not exist.
{% endif %}
{% endblock %}
